    * {
        box-sizing: border-box;
    }

    .fade {
        display: none;
    }

    
    


    /*電腦*/
    @media (min-width:1024px) {

        header {
            width: 100%;
            height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: fixed;
            top: 0%;
            left: 0%;
            background-color: #f1f1f1;

        }
        
        header .logo {
            width: 125.63px;
            margin-left: 50px;
        }
        
        header .NAV {
            margin: 0;
            padding: 0;
            margin-right: 32px;
        }


        
        header .NAV li:hover{
            color: #505050;
            background-color: #E5E5E5;
            transition: all 100ms ease-out;
        }

        .NAV [aria-expanded="true"] {
            color: #505050;
        }

        header  ul {
            list-style:none;
            color: #909090;
            display: flex;
            flex-direction: row;
        
        }
        
        header > ul > li {
            padding: 10px 20px;
        }
        
        header ul a {
            color: #909090;
        }

        header .menu {
            max-width: 88px;
            color: #909090;
            background-color: transparent;
            border: 0;
            border-radius: 0%;
        }
        
        header .menu a {
            margin: 20px 10px ;
        }

        header .menu li {
            width: 89px;
            background-color: #FFFFFF;
            white-space: nowrap;
            padding: 10px 0 10px 20px;
            margin-left: -20px
        }

        header .menu li:hover {
            background-color: #E5E5E5;
            transition: all 100ms ease-in-out;
            
        }

        header .menu li:hover a {
            color: black;
            transition: all 100ms ease-in-out;
        }
        

        header .menu .item {
            width: 88px;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            margin: 0

        }
        
        header .hbg {
            display: none;
        }

        .mobileNAV {
            display: none;
        }
    }

    /*平板$手機*/
    @media (max-width:1024px) {
        header {
            width: 100%;
            height: 60px;
            display: flex;
        }

        header .logo-hbg {
            max-width:1024px;
            width: 100%;
            height: 60px;
            background-color: #f1f1f1;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: fixed;
            top: 0;
            left: 0;
        }

        header .logo {
            width: 126.5px;
            margin-left: calc(32 / 834 * 100%); 
        }   

        header  ul {
            list-style:none;
            color: #909090;
            display: flex;
            flex-direction: column;
        }
        
        header .hbg {
            width: 24px;
            margin-right: calc(32 / 834 * 100%);
        }
        
        .hbg > div {
            border-top: 2.5px solid #909090;
            margin:5px 0 5px 0;
        }   



        header .NAV {
            display: none;
        }

        .bg_nav {
            background-color: #E5E5E5;
        }
        .mobileNAV {
            width: 100vw;
            height: 100vh;
            list-style: none;
            color: #909090;
            background-color: #F5F5F5;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            display: block;
            border: 0;
            border-radius: 0;
            
        }
        .mobileNAV > div:first-child {
            height: 60px;
            border: 0;
            margin-right: calc(32 / 428 * 100% - 16px);
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .mobileNAV button {
            width: 18px;
            height: 17px;
            margin: 3px calc(39 / 428 * 100%);
        }

        .mobileNAV svg {
            width: 15px;
            height: 12px;
            margin-top: 3px;
            transform: rotate(0deg);
        }

        .mobileNAV > div:last-child {
            border: 0;
            display: flex;
            justify-content: center;
            
        }

        .mobileNAV ul {
            max-width: 514px;
            width: 100%;
            padding: 0;
        }
        .mobileNAV > div > ul > li {
            width:100%;
            border-bottom: 1px solid #D4D4D4;
        }

        .mobileNAV > div > ul > li:first-child {
            border-top: 1px solid #D4D4D4;
        }
        .mobileNAV a {
            color: #909090;
            width: 100%;
            height: 64px;
            padding: 20px 0 22px 0;
            line-height: 20px;
        }

        .mobileNAV a[aria-expanded="true"] {
            color: #505050;
            background-color: #E5E5E5;
        }
        .mobileNAV a[aria-expanded="false"] ~ #school {
            background-color: #E5E5E5;
        }

        .mobileNAV a[aria-expanded="true"] > svg {
            transform: rotate(180deg);
            transition: all 300ms ease-out;
        }

        .mobileNAV a[aria-expanded="false"] > svg {
            transform: rotate(0deg);
            transition: all 300ms ease-out;
        }

        
        .mobileNAV a:first-child {
            padding: 0 20px 0 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        #collapse {
            width: 100%;
            list-style: none;
            color: #909090;
            padding:0;
            background-color: #FFFFFF;
        }

        #collapse a {
            color: #909090;
        }

        #collapse li {
            height: 64px;
            display: flex;
            align-items: flex-end;
            border-top: 1px solid #D4D4D4;
            padding-left: 20px;
            
        }

    }
    @media (max-width: 767px) {
        header .logo {
            width: 100.5px;
            margin-left: calc(32 / 428 * 100%); 
        }
        header .hbg {
            margin-right: calc(32 / 428 * 100%);
        }
    }