.tag-container {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}

.tag-container a {
    padding: 3px 8px 4px;
    text-decoration: none;
    font-family: 'Noto Sans TC';
    font-weight: 14px;
    color: #707070;
    font-size: 14px;
    line-height: 20px;

    background-color: #e5e5e5;
    border-radius: 5px;

}

.tag-container a:hover {
    background-color: #707070;
    color: #ffffff;
    transition-property: all;
    transition-duration: 0s;
}